BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
ColumnLimit: 0
ContinuationIndentWidth: 8
IncludeBlocks: Regroup
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: false
PointerAlignment: Left
SpacesInContainerLiterals: false
Standard: c++17
TabWidth: 4
