/build*
/cmake-build-*
.idea/*
!.idea/runConfigurations
!.idea/cmake.xml
.vscode/*
*~

__pycache__/
*.so
*.py[cod]

*.egg
*.eggs
*.egg-info
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
.installed.cfg

.cache/
.pytest_cache/
.coverage
.coverage*
.tox
.nox
coverage.xml
htmlcov

docs/_build

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.ruff_cache/
.mypy_cache/
